/*Colors and fonts*/

body {
	background-color: white;
	font-size: 16px;
	font-family: 'American Typewriter', sans-serif;
}

body {
  background-image: url("file:///Users/coulibalysoukeyna/Desktop/Programmation/my-profile/images/IMG_6895.jpeg");
  background-color: #cccccc;
}

 h1,h2 {
	font-family: 'Modern Love Grunge', sans-serif; text-align: center
}

h1 {
	font-size: 37px;
	line-height: 1;
	letter-spacing: 1px;
	font-weight: bold;
	color: rgb(104, 34, 139 );
}

h2 {
	font-size: 23px;
	line-height: 1.8;
	letter-spacing: 1px;
	font-weight: 600;
	color: rgb(104, 34, 139 );
}

a {
  color: teal;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
  text-decoration: none;
 }

 div {
	text-align:justify-all;
	text-justify:values;
}

/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 800px) {
  .container {
    width: 700px;
}

}

@media (max-width: 700px) {
  .container {
    width: 600px;
}

}

@media (max-width: 600px) {
  .container {
    width: 500px;
}

}

@media (max-width: 500px) {
  .container {
    width: 400px;
}

}

@media (max-width: 400px) {
  .container {
    width: 300px;
}

}

@media (max-width: 300px) {
  .container {
    width: 200px;
}

}

 .card-white {
 	background-color: white;
    padding: 50px;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 10%);
    border-radius: 5px;
    text-align: justify-all;
    margin: 20px;
 }

.img-circle {
	border-radius: 51%;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.text-centered {
  text-align: center;
}

.list-centered {
  text-align: left;
}

.list-inline {
  list-style: none;
  padding-left: 0px ;

}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: #FFC0CB;
}

.list-inline i:hover {
	font-size: 50px;
  color: white;
}



